/* login.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure the login takes the full viewport height */
  background-color: #f0f0f0; /* Adjust the background color as needed */
}

.loginContainer {
  width: 40%;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.githubBtn,
.xingBtn {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.githubBtn {
  background-color: #1f2125;
  color: white;
}

.xingBtn {
  background-color: #cfdc00;
  color: black;
}

.orSeparator {
  margin: 1rem 0;
  color: #9b9b9b;
}

.loginForm {
  width: 100%;
}

.loginForm input[type="email"],
.loginForm input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.rememberMe {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.rememberMe input[type="checkbox"] {
  margin-right: 0.5rem;
}

.forgotPassword {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 1rem;
}

.loginForm button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.loginForm button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.loginForm button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.terms {
  color: #9b9b9b;
  font-size: 0.8rem;
  text-align: center;
}

.infoContainer {
  width: 20%;
  padding: 2rem;
  background: linear-gradient(130deg, #ff7e5f, #feb47b);
  border-radius: 10px;
  color: white;
  text-align: center;
  position: relative;
}

/* .hideBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
} */

.playBtn {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Add responsive breakpoints as needed */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .loginContainer,
  .infoContainer {
    width: 80%;
    margin: 1rem 0;
  }
}
